{% extends 'home/base.html' %}
{% load static %}
{% block title %}
A propos de Nous
{% endblock %}
{% block about_active %}class='active'{% endblock %}
{% block body %}
	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url({{about.hero_img.img.url}}); height: 300px;" >
			   		<div class="overlay" style="display:none ;"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 text-center slider-text">
				   				<div class="slider-text-inner">
				   					<h1>{{about.title_hero}}</h1>
										<h2>{{about.subtile_hero}}</a></h2>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-about">
			<div class="row">
				<div class="col-md-4">
					<h3>Verset quotidien</h3>
					<blockquote class="dailyVerse">
						<p>&ldquo;{{verset.verset}}&rdquo;</p>
						<span>{{verset.ref}}</span>
					</blockquote>
				</div>
				{% for x in wrapper %}
				<div class="col-md-4">
					<h3>{{x.title}}</h3>
					<p>{{x.paragraph}}</p>
					<ul class="ministries-list">
					{% for y in x.wrapper_about_page.all %}
					<li><i class="icon-check"></i>y.title</li>
					{% endfor %}
				</ul>
					</div>
				{% endfor %}
			</div>
		</div>

		<div id="fh5co-news" class="fh5co-light-grey">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>{{secteur_main.title}}</h2>
					<p>{{secteur_main.subtitle}}</p>
				</div>
			</div>
	
			
			<div class="row">
				{% for x in secteur %}
				<div class="col-md-3 animate-box">
					<div class="news">
						<a href="#" class="img-holder"><img class="img-responsive" src="{{x.tumbail.img.url}}" alt="Un probleme s'est produit"></a>
						<div class="desc">
							<span class="date">{{x.titit}}</span>
							<h3><a href="#">{{x.title}}</a></h3>
							<p>{{x.description}}</p>
							<!-- <a href="#">Read More <i class="icon-arrow-right3"></i></a>
					   --> </div> 
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>    
{% endblock %}

