{% extends 'home/base.html' %}
{% load static %}
{% block title %}
contactez nous
{% endblock %}
{% block body %}
<div class="container-wrap">
	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
			   <li style="background-image: url(images/img_bg_2.jpg);">
				   <div class="overlay"></div>
				   <div class="container-fluid">
					   <div class="row">
						   <div class="col-md-6 col-md-offset-3 text-center slider-text">
							   <div class="slider-text-inner">
								   <h1>Contactez nous</h1>
									<h2>Laissez nous un message, vos demande de prieres.<a href="#" target="_blank">Dieu est Amour</a></h2>
							   </div>
						   </div>
					   </div>
				   </div>
			   </li>
			  </ul>
		  </div>
	</aside>
	<div id="fh5co-contact">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Contactez nous</h2>
				<p>Qu'importe ou vous est dans le monde, la puissance du Seigneur reste et demeur le meme.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-push-8 animate-box">
				<h3>Notre address</h3>
				<ul class="contact-info">
					<li><i class="icon-location4"></i>Rue Louverture Rebecca prolongee #32</li>
					<li><i class="icon-phone3"></i>+ 509 1235 2355 </li>
					<li><i class="icon-location3"></i><a href="#">info@eglisebethel.com</a></li>
					<li><i class="icon-globe2"></i><a href="#">www.eglisebethel.com</a></li>
				</ul>
			</div>
			<div class="col-md-7 col-md-pull-2 animate-box">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Name">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Email">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<input type="submit" value="Envoyee" class="btn btn-primary btn-modify">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>     
{% endblock %}

