{% extends 'home/base.html' %}
{% load static %}
{% block title %}
contactez nous
{% endblock %}
{% block contact_active %}class="active"{% endblock %}
{% block body %}
<div class="container-wrap">
	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
			   <li style="background-image: url({{contact.hero_img.url}});">
				   <div class="overlay"></div>
				   <div class="container-fluid">
					   <div class="row">
						   <div class="col-md-6 col-md-offset-3 text-center slider-text">
							   <div class="slider-text-inner">
								   <h1>{{contact.title_hero}}</h1>
									<h2>{{contact.subtile_hero}}</h2>
							   </div>
						   </div>
					   </div>
				   </div>
			   </li>
			  </ul>
		  </div>
	</aside>
	<div id="fh5co-contact">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>{{contact.title}}</h2>
				<p>{{contact.subtitle}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-push-8 animate-box">
				<h3>{{contact.title2}}</h3>
				<ul class="contact-info">
					<li><i class="icon-location4"></i>{{contact.address}}</li>
					<li><i class="icon-phone3"></i>{{contact.telphone}}</li>
					<li><i class="icon-location3"></i><a href="#">{{contact.email}}</a></li>
					<li><i class="icon-globe2"></i><a href="#">{{contact.siteweb}}</a></li>
				</ul>
			</div>
			<div class="col-md-7 col-md-pull-2 animate-box">

				
				<div class="row">
					{% if name  %}
					<h2>Merci de nous avoir ecris {{name}}</h2>
					<p>Nous esperons que vous nous visiterai merci beaucoup a vous, vos supports comptesnt beaucoup pour nous.</p>
					{%else%}
					<form action="" method="post">
						{% csrf_token %}
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" name="name" class="form-control" placeholder="Name" required>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="email" name='email' class="form-control" placeholder="Email" required>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<input type="textarea" class="form-control" required name="message" cols="30" rows="7" placeholder="Message"></input>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<input type="submit" id="btn" value="Envoyee" class="btn btn-primary btn-modify">
						</div>
					</div>
					</form>
					{%endif%}
				</div>
			
			</div>
		</div>
	</div>
</div>     
{% endblock %}


