{% extends 'home/base.html' %}
{% load static %}
{% block events_active %} class="active" {% endblock %}
{%block override%}
<link rel="stylesheet" href="#">
{%endblock%}
{% block cssb %}
<link rel="stylesheet" href="{% static 'home/css/css2.css' %}">
{% endblock %}
{% block body %}

<div class="container-wrap">
	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
			   <li style="background-image: url({{page.background.img.url}});">
				   <div class="overlay"></div>
				   <div class="container-fluid">
					   <div class="row">
						   <div class="col-md-6 col-md-offset-3 text-center slider-text">
							   <div class="slider-text-inner">
								   <h1>{{page.title}}</h1>
									<h2>Vivez tout nos events ici et maintenant</h2>
							   </div>
						   </div>
					   </div>
				   </div>
			   </li>
			  </ul>
		  </div>
	</aside>
















    <main>

  
  
        <!-- SINGLE EVENTS SECTION STARTS -->
        <div class="single events-single default-section-spacing">
  
          <div class="container">
  
            <div class="row" style="float: left;">
  
              <div class="flex-lg-8" style="float: left;">
  
                <div class="single__content" style="float: left; margin-top: 10px;">
  
                  <div class="card single__featured--image no-padding" style="width: 80vw ;">
                    <img src="{{event.cover.img.url}}" alt="A man praying" class="card__image">
                  </div><!-- .card ends -->
  
                  <div class="single__metas events-single__metas">
  
                    <div class="row align-items-center">
  
                      <div class="flex-sm-12">
  
                        <div class="event__metas vertical">
                          <div class="event__meta--date meta"><i class="ri-calendar-event-line"></i>
                            <span>{{event.startdate}}</span>
                          </div>
                          <div class="event__meta--time meta"><i class="ri-time-line"></i> <span>{{event.estimatedDuration}}
                              </span>
                          </div>
                          <div class="event__meta--location meta"><i class="ri-map-pin-line"></i> <span>123 Jay St,
                              Albany,
                              NY
                              12203</span></div>
                        </div><!-- .event__metas -->
  
                        <div class="event__title">
                          <h2>{{event.title}}</h2>
                        </div>
  
                      </div><!-- .flex-* ends -->
  
                    </div><!-- .row ends -->
  
                  </div><!-- .single__metas ends -->
  
                  <div class="single__content--full">
  
                    <h3>Description</h3>
  
                    <p>
                        {{ event.fulldescription }}
                    </p>
  
                  </div><!-- .single__content--full ends -->
  
                </div><!-- .single__content ends -->
  
              </div><!-- .flex-* ends -->
  
             
  
            </div><!-- .row ends -->
  
          </div><!-- .container ends -->
  
        </div><!-- .single ends -->
        <!-- SINGLE EVENTS SECTION ENDS -->
  
  
        <!-- TIME AND LOCATION STARTS -->
       <!-- .time-location ends -->
        <!-- TIME AND LOCATION ENDS -->
  
  
      </main><!-- main ends -->
  








      <section class="our-gallery gallery gallery--equal-grid default-section-spacing background-lighter-gray">

        <div class="container" style="width:inherit">

          <div class="section-heading text-center">
            <span>Gallery</span>
            <h2 style="margin: 10px;">Quelques photo de l'evennement</h2>
          </div><!-- .section-heading ends -->

          <div class="row" style="display:flex; flex-wrap: wrap;">
            {% for x in imgs %}

            <div class="flex-md-6 flex-lg-3 no-padding no-margin">

              <a href="{{x.img.url}}" class="gallery-link" data-lightbox="church-picture"
                data-title="Picture of the Holy Bible">

                <div class="card gallery__card">

                  <div class="card__header">
                    <img src="{{x.img.url}}" alt="Picture of the Holy Bible" class="card__image">
                  </div>

                </div><!-- .card ends -->

              </a><!-- .gallery-link -->


            </div><!-- .flex-* ends -->
{% empty %} <br> <h3 style="margin:50px auto ;">Pas de photos encore telecharger</h3>
          {%endfor%}

          </div><!-- .row ends -->

        </div><!-- .container ends -->

      </section>











</div>

{%endblock%}