{% extends 'home/base.html' %}
{% load static %}
{% block home_active %} class="active" {% endblock %}
{% block body %}
{% for live in live %}
{%if live.isExpired%}{%else%}
    {%if live.autoclosed%}
        {%if live.Haspassed%}{%else%}<div class="container-wrap">
            <aside id="fh5co-hero">
                <div class="flexslider">
                    <ul class="slides">
                       <li style="background-image: url('{{live.tumnail.url}}');
                            margin-bottom: 0px !important; ">
                           <div class="overlay"></div>
                           <div class="container-fluid">
                               <div class="row">
                                   <div class="col-md-6 col-md-offset-3 text-center">
                                       <div class="slider-text">
                                           <div class="slider-text-inner">
                                               <h1>{{live.title}}</h1>
                                                <h2>{{live.description}}, <a href="#" target="_blank">nous somme live !!!</h2>
                                                <br><h2 id="count-down" data-time="{{live.startdate|date:'M d, Y h:m:s '}}">Live strats in 3 hours 26 minutes 30 secondes</h3>
                                                <p><a class="btn btn-primary btn-demo popup-vimeo" href="#"> <i class="icon-play4"></i > <span id="linked">Regarder le live avec nous</span></a></p>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </li>
                      </ul>
                  </div>
            </aside>
            </div>
            {%endif%}
    {%else%}

<div class="container-wrap">
<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
           <li style="background-image: url('{{live.tumnail.url}}');
                margin-bottom: 0px !important; ">
               <div class="overlay"></div>
               <div class="container-fluid">
                   <div class="row">
                       <div class="col-md-6 col-md-offset-3 text-center">
                           <div class="slider-text">
                               <div class="slider-text-inner">
                                   <h1>{{live.title}}</h1>
                                    <h2>{{live.description}}, <a href="#" target="_blank">nous somme live !!!</h2>
                                    <br><h2 id="count-down" data-time="{{live.startdate|date:'M d, Y h:m:s '}}">Live strats in 3 hours 26 minutes 30 secondes</h3>
                                    <p><a class="btn btn-primary btn-demo popup-vimeo" href="#"> <i class="icon-play4"></i > <span id="linked">Regarder le live avec nous</span></a></p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </li>
          </ul>
      </div>
</aside>
</div>
{%endif%}
{%endif%}
{% empty %}
{%endfor%}
<div class="container-wrap">
    <aside id="fh5co-hero">
        <div class="flexslider">
            <ul class="slides">
               <li style="background-image: url('{{hero.vid1.backgroud.url}}');">
                   <div class="overlay"></div>
                   <div class="container-fluid">
                       <div class="row">
                           <div class="col-md-6 col-md-offset-3 text-center">
                               <div class="slider-text">
                                   <div class="slider-text-inner">
                                       <h1>{{hero.vid1.heading}}</h1>
                                        <h2>{{hero.vid1.submenu1}}, <a href="#" target="_blank">{{hero.vid1.submenu2}}</a></h2>
                                        <p><a class="btn btn-primary btn-demo popup-vimeo" href="#"> <i class="icon-play4"></i> Watch Video</a> <a class="btn btn-primary btn-learn">Join us here! <i class="icon-arrow-right3"></i></a></p>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </li>
               <li style="background-image: url('{{hero.vid2.backgroud.url}}');">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <div class="slider-text">
                                <div class="slider-text-inner">
                                    <h1>{{hero.vid2.heading}}</h1>
                                     <h2>{{hero.vid2.submenu1}}, <a href="#" target="_blank">{{hero.vid2.submenu2}}</a></h2>
                                     <p><a class="btn btn-primary btn-demo popup-vimeo" href="#"> <i class="icon-play4"></i> Watch Video</a> <a class="btn btn-primary btn-learn">Join us here! <i class="icon-arrow-right3"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url('{{hero.vid3.backgroud.url}}');">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <div class="slider-text">
                                <div class="slider-text-inner">
                                    <h1>{{hero.vid3.heading}}</h1>
                                     <h2>{{hero.vid3.submenu1}}, <a href="#" target="_blank">{{hero.vid3.submenu2}}</a></h2>
                                     <p><a class="btn btn-primary btn-demo popup-vimeo" href="#"> <i class="icon-play4"></i> Watch Video</a> <a class="btn btn-primary btn-learn">Join us here! <i class="icon-arrow-right3"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
              </ul>
          </div>
    </aside>

    <div id="fh5co-intro">
        <div class="row animate-box">
            <div class="col-md-12 col-md-offset-0 text-center">
                <h2>{{firstSection.main}}</h2>
                <span>{{firstSection.submain}}</span>
            </div>
        </div>
    </div>
    <hr>
    <div id="fh5co-counter" class="fh5co-counters">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center animate-box">
                <p>{{statSection.text}}</p>
                </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <span class="fh5co-counter js-counter" data-from="0" data-to="{{statSection.sat1}}" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">{{statSection.sat1Name}}</span>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <span class="fh5co-counter js-counter" data-from="0" data-to="{{statSection.sat2}}" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">{{statSection.sat2Name}}</span>
                    </div>
                    <div class="clearfix visible-sm-block visible-xs-block"></div>
                    <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <span class="fh5co-counter js-counter" data-from="0" data-to="{{statSection.sat3}}" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">{{statSection.sat3Name}}</span>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 text-center">
                        <span class="fh5co-counter js-counter" data-from="0" data-to="{{statSection.sat4}}" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">{{statSection.sat4Name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="fh5co-services" class="fh5co-light-grey">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>{{Service.title}}</h2>
                <p>{{Service.submenu}}</p>
            </div>
        </div>
        <div class="row">
            {% for x in serviceSingle %}
            <div class="col-md-4 animate-box">
                <div class="services">
                    <a href="#" class="img-holder"><img class="img-responsive" src="{{x.imageBackground.url}}" alt="Free HTML5 Website Template by freehtml5.co"></a>
                    <div class="desc">
                        <h3><a href="#">{{x.title}}</a></h3>
                        <p>{{x.description_bref}}</p>
                        <a href="url ('{{x.slug}}')">Read More <i class="icon-arrow-right3"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div id="fh5co-sermon">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>{{Sermons_main_section.title}}</h2>
                <p>{{Sermons_main_section.submenu}}</p>
                <h4><a href="#" target="_blank">Tout voir <i class="icon-arrow-right3"></i></a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url({{Sermons_main_section.s1.tumbnail.url}});">
                        <div class="play">
                            <a class="popup-vimeo" href="{{Sermons_main_section.s1.youtubeurl}}"><i class="icon-play3"></i></a>
                        </div>
                    </div>
                    <h3>{{Sermons_main_section.s1.title}}</h3>
                    <span>{{Sermons_main_section.s1.orator}}</span>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url({{Sermons_main_section.s2.tumbnail.url}});">
                        <div class="play">
                            <a class="popup-vimeo" href="{{Sermons_main_section.s2.youtubeurl}}"><i class="icon-play3"></i></a>
                        </div>
                    </div>
                    <h3>{{Sermons_main_section.s2.title}}</h3>
                    <span>{{Sermons_main_section.s1.orator}}</span>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="sermon-entry">
                    <div class="sermon" style="background-image: url({{Sermons_main_section.s3.tumbnail.url}});">
                        <div class="play">
                            <a class="popup-vimeo" href="{{Sermons_main_section.s3.youtubeurl}}"><i class="icon-play3"></i></a>
                        </div>
                    </div>
                    <h3>{{Sermons_main_section.s3.title}}</h3>
                    <span>{{Sermons_main_section.s1.orator}}</span>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-bible-verse">
        <div class="overlay"></div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row animate-box">
                    <div class="owl-carousel owl-carousel-fullwidth">
                        <div class="item">
                            <div class="bible-verse-slide active text-center">
                                <blockquote>
                                    <p>&ldquo;{{verset_main_page.v1.verset}}&rdquo;</p>
                                    <span>{{verset_main_page.v1.ref}}</span>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bible-verse-slide active text-center">
                                <blockquote>
                                    <p>&ldquo;{{verset_main_page.v2.verset}}&rdquo;</p>
                                    <span>{{verset_main_page.v2.ref}}</span>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bible-verse-slide active text-center">
                                <blockquote>
                                    <p>&ldquo;{{verset_main_page.v3.verset}}&rdquo;</p>
                                    <span>{{verset_main_page.v3.ref}}</span>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-events">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>{{evenement_main_page.title}}</h2>
                <p>{{evenement_main_page.subtitle}}</p>
                <h4><a href="{%url 'events' %}" target="_blank">Tout voir <i class="icon-arrow-right3"></i></a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 animate-box">
                <div class="events-entry">
                    <span class="date">{{evenement_main_page.e1.startdate}}</span>
                    <h3><a href="#">{{evenement_main_page.e1.title}}</a></h3>
                    <p>{{evenement_main_page.e1.description}}</p>
                    <a href="{% url 'singlevents' evenement_main_page.e1.slug %}">Read More <i class="icon-arrow-right3"></i></a>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="events-entry">
                    <span class="date">{{evenement_main_page.e2.startdate}}</span>
                    <h3><a href="#">{{evenement_main_page.e2.title}}</a></h3>
                    <p>{{evenement_main_page.e2.description}}</p>
                    <a href="{% url 'singlevents' evenement_main_page.e2.slug %}">Read More <i class="icon-arrow-right3"></i></a>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="events-entry">
                    <span class="date">{{evenement_main_page.e3.startdate}}</span>
                    <h3><a href="#">{{evenement_main_page.e3.title}}</a></h3>
                    <p>{{evenement_main_page.e3.description}}</p>
                    <a href="{% url 'singlevents' evenement_main_page.e3.slug %}">Read More <i class="icon-arrow-right3"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script src=" {% static 'home/js/counter.js' %}" differ></script>
{% endblock %}