{% extends 'home/base.html' %}
{% load static %}
{% block title %}
Sermons
{% endblock %}
{% block sermon_active %} class='active'{% endblock %}
{% block body %}
<div class="container-wrap">
	<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
			   <li style="background-image: url({{page.background.url}});">
				   <div class="overlay"></div>
				   <div class="container-fluid">
					   <div class="row">
						   <div class="col-md-6 col-md-offset-3 text-center slider-text">
							   <div class="slider-text-inner">
								   <h1>{{page.title}}</h1>
									<h2>Abonne vous a notre page youtube <a href="#" target="_blank">clicker ici</a></h2>
							   </div>
						   </div>
					   </div>
				   </div>
			   </li>
			  </ul>
		  </div>
	</aside>
	<div id="fh5co-sermon">
		<div class="row animate-box">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>{{page.title}}</h2>
				<p>{{page.submenu}}</p>
			</div>
		</div>
		<div class="row">
			{% for x in sermon %}
			<div class="col-md-4 text-center animate-box">
				<div class="sermon-entry">
					<div class="sermon" style="background-image: url({{x.tumbnail.url}});">
						<div class="play">
							<a class="popup-vimeo" href="x.youtubeurl"><i class="icon-play3"></i></a>
						</div>
					</div>
					<h3>{{x.title}}</h3>
					<span>{{x.orator}}</span>
				</div>
			</div>

			{% endfor %}
		</div>
	</div>
</div>             
{% endblock %}
